<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/library">Library</a></li>
    <li><a href="/about">About</a></li>
    <!-- <li><a href="/register">Sign Up</a></li>
      <li><a href="/login">Login</a></li> -->
  </ul>
</nav>
<h1>About Our Concept</h1>
<div class="row mt-5"></div>
<div style="text-align: center;">
  <div
    class="step"
    style="background: linear-gradient(90deg, rgba(218,123,147,1) 0%, rgba(196,80,109,1) 60%);"
  >
    Our face-analyzer <b>interprets</b> the emotions on each user's face when
    presented with an image.
  </div>
  <div
    class="step"
    style="background: linear-gradient(90deg, rgba(55,110,111,1) 0%, rgba(74,145,146,1) 36%);"
  >
    We then <b>rank</b> the emotions evoked for that user on that image, and
    factor those rankings into the results collected from past users.
  </div>
  <div
    class="step"
    style="background: linear-gradient(90deg, rgba(218,123,147,1) 0%, rgba(196,80,109,1) 60%);"
  >
    Users can see how their emotions <b>compare</b> to those of other users who
    saw the same image.
  </div>
  <div
    class="step"
    style="background: linear-gradient(90deg, rgba(55,110,111,1) 0%, rgba(74,145,146,1) 36%);"
  >
    Content creators can see how <b>effective</b> their media is at evoking
    intended emotions.
  </div>
</div>
