<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/library">Library</a></li>
  </ul>
</nav>
<h1>Our Concept</h1>
<div class="banner">
  We use face-analyzing technology to determine the effectiveness of our images.
</div>
<div id="flowchart">
  <img id="flowchart-img" src="flowchart.png" alt="Image not found" />
</div>
