<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<style>
  body {
    overflow: hidden !important;
  }
</style>
<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/library">Library</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
<h1>Rate ur memes</h1>
<div class="banner">
  Help us determine the impact of images on human emotions.
</div>

<!-- Triggers the tutorial modal -->
<div class="tutorial-button">
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-toggle="modal"
    data-target="#tutorialModal"
    style="background-color:#ffffff !important;"
  >
    Tutorial
  </button>
</div>

<!-- Triggers the app modal -->
<div class="start-button">
  <button
    type="button"
    class="btn btn-info btn-lg"
    data-toggle="modal"
    data-target="#appModal"
  >
    Begin
  </button>
</div>

<!-- Tutorial Modal -->
<div id="tutorialModal" class="modal fade" role="dialog" data-focus="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Here's How:</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        class="modal-body"
        style="color: rgb(21, 51, 52) !important; padding: 8% !important;"
      >
        <ol>
          <li>An image will be presented on the screen for you to view.</li>
          <div class="tutorial-step">
            <img class="tutorial-image" src="Meme2.jpg" alt="Image not found" />
          </div>
          <li>Our face analyzer will interpret your reaction to the image.</li>
          <div class="tutorial-step">
            <img
              class="tutorial-image"
              src="affectiva.jpg"
              alt="Image not found"
            />
          </div>
          <li>
            Your results will appear, showing the emotions that you displayed in
            response to the image.
          </li>
          <li>
            That image's data will appear so that you can compare your emotional
            response to that of the average user.
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          I'm Ready!
        </button>
      </div>
    </div>
  </div>
</div>

<!-- App Modal -->
<div id="appModal" class="modal fade" role="dialog" data-focus="true">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Here's a Meme!</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        class="modal-body"
        style="color: rgb(21, 51, 52) !important; padding: 8% !important; text-align: center;"
      >
        <div id="meme-container" class="card card-body text-center">
          <img
            id="1"
            src="Meme1.jpg"
            class="meme card-img-top"
            alt="How did u get here"
          />
        </div>
        <div id="results-buttons">
          <button
            type="button"
            class="btn btn-outline"
            data-toggle="modal"
            data-target="#userResultsModal"
          >
            View your results
          </button>
          <button
            type="button"
            class="btn btn-outline"
            data-toggle="modal"
            data-target="#avgResultsModal"
          >
            See how you compare
          </button>
        </div>
        <button id="new-meme-button" type="button" class="btn btn-outline">
          Gimme a new meme!
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Done
        </button>
      </div>
    </div>
  </div>
</div>

<!-- User Results Modal -->
<div
  id="userResultsModal"
  class="modal left fade"
  role="dialog"
  data-focus="true"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Your Results</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        class="modal-body"
        style="color: rgb(21, 51, 52) !important; padding: 8% !important; text-align: center;"
      >
        Display results here!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Average Results Modal -->
<div
  id="avgResultsModal"
  class="modal right fade"
  role="dialog"
  data-focus="true"
>
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Average User Results</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div
        class="modal-body"
        style="color: rgb(21, 51, 52) !important; padding: 8% !important; text-align: center;"
      >
        Display results here!!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<script src="js/new-meme-button.js"></script>
