<link rel="stylesheet" type="text/css" href="css/styles.css" />
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> IMGS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/longin">Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img src="Meme1.jpg" class="card-img-top" alt="How did u get here">
    </div>
      <button type="button" class="btn btn-outline"><--</button>

      <button type="button" class="btn btn-outline">--></button>
  </div>
</div>
