<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<style type="text/css">
  div.gallery {
    width: 90%;
  }

  div.gallery img:hover {
    border: 2px solid #E8A87C;
    cursor: pointer;
  }

  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;       
    background-color: #ffe1c5;
    position: relative;
  }

  * {
    box-sizing: border-box;
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 50%;
      margin: 6px 0;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
      width: 110%;
    }
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* Modal stuff */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 15px 16px;
  padding-top: 25px;
  background-color: rgba(232, 168, 124);
  color: #FFFFFF;
}

.modal-body {padding: 20px 16px;}


</style>


<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/library">Library</a></li>
  </ul>
</nav>
<h1>Our Library</h1>
<div class="banner">
  Explore the current rankings of any image in our media library.
</div>


<div class="responsive">
  <div class="gallery">
      <img src="Meme1.jpg" width="600" height="400" onclick="open_modal('Meme1.jpg', 1)">
      <div class="desc"></div>

      <img src="Meme2.jpg" width="600" height="400" onclick="open_modal('Meme2.jpg', 2)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme3.gif" width="600" height="400" onclick="open_modal('Meme3.gif', 3)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme4.jpg" width="600" height="400" onclick="open_modal('Meme4.jpg', 4)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme5.jpg" width="600" height="400" onclick="open_modal('Meme5.jpg', 5)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme21.jpg" width="600" height="400" onclick="open_modal('Meme21.jpg', 21)" style="position: relative; top: 30px">
      <div class="desc"></div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="Meme6.jpg" width="600" height="400" onclick="open_modal('Meme6.jpg', 6)">
      <div class="desc"></div>

      <img src="Meme7.jpg" width="600" height="400" onclick="open_modal('Meme7.jpg', 7)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme8.jpg" width="600" height="400" onclick="open_modal('Meme8.jpg', 8)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme9.jpg" width="600" height="400" onclick="open_modal('Meme9.jpg', 9)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme10.jpg" width="600" height="400" onclick="open_modal('Meme10.jpg', 10)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme22.gif" width="600" height="400" onclick="open_modal('Meme22.gif', 22)" style="position: relative; top: 30px">
      <div class="desc"></div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="Meme11.jpg" width="600" height="400" onclick="open_modal('Meme11.jpg', 11)">
      <div class="desc"></div>

      <img src="Meme12.jpg" width="600" height="400" onclick="open_modal('Meme12.jpg', 12)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme13.gif" width="600" height="400" onclick="open_modal('Meme13.gif', 13)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme14.jpg" width="600" height="400" onclick="open_modal('Meme14.jpg', 14)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme15.jpg" width="600" height="400" onclick="open_modal('Meme15.jpg', 15)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme23.gif" width="600" height="400" onclick="open_modal('Meme23.gif', 23)" style="position: relative; top: 30px">
      <div class="desc"></div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="Meme16.jpg" width="600" height="400" onclick="open_modal('Meme16.jpg', 16)">
      <div class="desc"></div>

      <img src="Meme17.jpg" width="600" height="400" onclick="open_modal('Meme17.jpg', 17)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme18.jpg" width="600" height="400" onclick="open_modal('Meme18.jpg', 18)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme19.gif" width="600" height="400" onclick="open_modal('Meme19.gif', 19)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme20.gif" width="600" height="400" onclick="open_modal('Meme20.gif', 20)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme24.jpg" width="600" height="400" onclick="open_modal('Meme24.jpg', 24)" style="position: relative; top: 30px">
      <div class="desc"></div>

      <img src="Meme25.jpg" width="600" height="400" onclick="open_modal('Meme25.jpg', 25)" style="position: relative; top: 30px">
      <div class="desc"></div>
  </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2 style="word-spacing: 8px; text-shadow: none !important;">Content Analysis</h2>
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <p id="results" style="color: #575757">Some text in the Modal Body</p>
      <div id="img-container"></div>
    </div>
  </div>

</div>




<script type="text/javascript">

  var avgJoy = 0;
  var avgSadness = 0;
  var avgDisgust = 0;
    var avgAnger = 0;
  var avgFear = 0;
  var avgSurprise = 0;



  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  function open_modal(img, oldId) {
    modal.style.display = "block";
    document.getElementById("img-container").innerHTML = "<img src=" + img + " width='100%' style= 'border: 3px solid #E8A87C;''>"

    var request = new XMLHttpRequest();
      var memeQuery = "/meme?meme=" + oldId;
      request.open("GET", memeQuery, true);
      request.responseType = "text";
      request.setRequestHeader("Content-Type", "application/json");
      request.send(memeQuery);
      request.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          theRatings = request.responseText;
          console.log(theRatings);
          var theRatingsData = JSON.parse(theRatings);
          var firstElem = theRatingsData[0];
          var joyRating = firstElem.joy;
          var sadRating = firstElem.sadness;
          var disgustRating = firstElem.disgust;
          var angerRating = firstElem.anger;
          var fearRating = firstElem.fear;
          var surpriseRating = firstElem.surprise;
          var views = firstElem.views;
          // var compareButton = document.getElementById("avg-results-btn-span");
          // compareButton.innerHTML =
          //   "<button type='button' class='btn btn-outline btn-info' data-toggle='modal' data-target='#avgResultsModal' style='color: rgb(211, 152, 113); text-shadow: none;'>Compare Yourself!</button>";
          var ratingsDisplay = document.getElementById("results");
          ratingsDisplay.innerHTML =
            "Joy: " +
            joyRating.toFixed(2) +
            "<br /> Sadness: " +
            sadRating.toFixed(2) +
            "<br />" +
            "Disgust: " +
            disgustRating.toFixed(2) +
            "<br /> Anger: " +
            angerRating.toFixed(2) +
            "<br /> Fear: " +
            fearRating.toFixed(2) +
            "<br /> Surprise: " +
            surpriseRating.toFixed(2);
        }
        // rate(
        //   oldId,
        //   joyRating,
        //   sadRating,
        //   disgustRating,
        //   angerRating,
        //   fearRating,
        //   surpriseRating,
        //   views
        // );

      }
      

}

function rate(
  id,
  joyRating,
  sadRating,
  disgustRating,
  angerRating,
  fearRating,
  surpriseRating,
  views
) {
  viewCount = views + 1;

  request = new XMLHttpRequest();
  request.open("PUT", "/rate", true);
  request.setRequestHeader("Content-Type", "application/json");
  request.send(
    JSON.stringify({
      meme: id,
      joy: mathify(joyRating, avgJoy, viewCount),
      sadness: mathify(sadRating, avgSadness, viewCount),
      disgust: mathify(disgustRating, avgDisgust, viewCount),
      anger: mathify(angerRating, avgAnger, viewCount),
      fear: mathify(fearRating, avgFear, viewCount),
      surprise: mathify(surpriseRating, avgSurprise, viewCount),
      views: viewCount
    })
  );
}

function mathify(average, value, views) {
  return (average = average + (value - average) / views);
}



</script>









