<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<style type="text/css">
  div.gallery {
    margin: 5px;
    float: left;
    width: 18%;
    margin-right: 17px;
    position: relative; 
  }
  div.gallery img:hover {
    border: 2px solid #E8A87C;
  }
  div.gallery img {
    width: 100%;
    height: auto;
    border: 3px solid #FFFFFF;
    position: relative;
  }
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #ffe1c5;
    position: relative;
  }
</style>


<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/library">Library</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
<h1>Our Library</h1>
<div class="banner">
  Explore the current rankings of any image in our media library.
</div>
<div class="row mt-5"></div>


<div class="gallery" style="padding-bottom: 120px">
    <img src="Meme1.jpg">
    <div class="desc">Add a description of the image here</div>

    <img src="Meme2.jpg" style="position: relative; top: 30px">
    <div class="desc" style="position: relative; top: 30px">Add a description of the image here</div>

    <img src="Meme3.gif" style="position: relative; top: 60px">
    <div class="desc" style="position: relative; top: 60px">Add a description of the image here</div>

    <img src="Meme4.jpg" style="position: relative; top: 90px">
    <div class="desc" style="position: relative; top: 90px">Add a description of the image here</div>

    <img src="Meme5.jpg" style="position: relative; top: 120px;">
    <div class="desc" style="position: relative; top: 120px;">Add a description of the image here</div>
</div>

<div class="gallery" style="padding-bottom: 120px">
    <img src="Meme6.jpg">
    <div class="desc">Add a description of the image here</div>

    <img src="Meme7.jpg" style="position: relative; top: 30px">
    <div class="desc" style="position: relative; top: 30px">Add a description of the image here</div>

    <img src="Meme8.jpg" style="position: relative; top: 60px">
    <div class="desc" style="position: relative; top: 60px">Add a description of the image here</div>

    <img src="Meme9.jpg" style="position: relative; top: 90px">
    <div class="desc" style="position: relative; top: 90px">Add a description of the image here</div>

    <img src="Meme10.jpg" style="position: relative; top: 120px;">
    <div class="desc" style="position: relative; top: 120px;">Add a description of the image here</div>
</div>

<div class="gallery" style="padding-bottom: 120px">
    <img src="Meme11.jpg">
    <div class="desc">Add a description of the image here</div>

    <img src="Meme12.jpg" style="position: relative; top: 30px">
    <div class="desc" style="position: relative; top: 30px">Add a description of the image here</div>

    <img src="Meme13.gif" style="position: relative; top: 60px">
    <div class="desc" style="position: relative; top: 60px">Add a description of the image here</div>

    <img src="Meme14.jpg" style="position: relative; top: 90px">
    <div class="desc" style="position: relative; top: 90px">Add a description of the image here</div>

    <img src="Meme15.jpg" style="position: relative; top: 120px;">
    <div class="desc" style="position: relative; top: 120px;">Add a description of the image here</div>
</div>


<div class="gallery" style="padding-bottom: 120px">
    <img src="Meme16.jpg">
    <div class="desc">Add a description of the image here</div>

    <img src="Meme17.jpg" style="position: relative; top: 30px">
    <div class="desc" style="position: relative; top: 30px">Add a description of the image here</div>

    <img src="Meme18.jpg" style="position: relative; top: 60px">
    <div class="desc" style="position: relative; top: 60px">Add a description of the image here</div>

    <img src="Meme19.gif" style="position: relative; top: 90px">
    <div class="desc" style="position: relative; top: 90px">Add a description of the image here</div>

    <img src="Meme20.gif" style="position: relative; top: 120px;">
    <div class="desc" style="position: relative; top: 120px;">Add a description of the image here</div>
</div>

<div class="gallery" style="padding-bottom: 120px">
    <img src="Meme21.jpg">
    <div class="desc">Add a description of the image here</div>

    <img src="Meme22.gif" style="position: relative; top: 30px">
    <div class="desc" style="position: relative; top: 30px">Add a description of the image here</div>

    <img src="Meme23.gif" style="position: relative; top: 60px">
    <div class="desc" style="position: relative; top: 60px">Add a description of the image here</div>

    <img src="Meme24.gif" style="position: relative; top: 90px">
    <div class="desc" style="position: relative; top: 90px">Add a description of the image here</div>

    <img src="Meme25.jpg" style="position: relative; top: 120px;">
    <div class="desc" style="position: relative; top: 120px;">Add a description of the image here</div>
</div>















