<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/library">Library</a></li>
    <li><a href="/about">About</a></li>
    <!-- <li><a href="/register">Sign Up</a></li>
      <li><a href="/login">Login</a></li> -->
  </ul>
</nav>
<h1 style="padding-bottom: 2%">Our Library</h1>
<div
  style="font-size: 150%; color: #ffffff; padding: 1%; background: linear-gradient(90deg, rgba(55,110,111,1) 0%, rgba(74,145,146,1) 36%);"
>
  Explore the current rankings of any image in our media library.
</div>
<div class="row mt-5"></div>
