<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img src="how.jpg" class="card-img-top" alt="How did u get here">
    </div>
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="window.location.href = '/';"
    >go home, you're drunk </button>
  </div>
</div>
