<link rel="stylesheet" type="text/css" href="css/styles.css" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<nav>
  <ul class="navbar_links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/library">Library</a></li>
  </ul>
</nav>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <button
      type="button"
      class="btn btn-default btn-lg btn-block"
      onclick="window.location.href = '/';"
    >
      Return Home
    </button>
    <div class="card card-body text-center">
      <img src="how.jpg" class="card-img-top" alt="How did u get here" />
    </div>
    <button
      type="button"
      class="btn btn-info btn-lg btn-block"
      onclick="window.location.href = '/';"
    >
      Return Home
    </button>
  </div>
</div>
