* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: linear-gradient(
    90deg,
    rgba(47, 68, 84, 1) 24%,
    rgba(28, 51, 52, 1) 74%
  );
  padding: 2%;
}

ul li,
a {
  font-family: Arial;
  font-size: 120%;
  color: #edf0f1 !important;
  text-decoration: none;
}

li a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  position: relative;
  z-index: 1;
  left: 0;
}

.navbar_links {
  list-style: none;
  text-align: right;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar_links li a {
  transition: all 0.4s ease 0s;
}

.navbar_links li a:hover {
  color: #da7393 !important;
  text-decoration: none;
}

h1 {
  color: #ffffff;
  font-size: 500% !important;
  text-shadow: 1px 1px 2px #da7b93;
  padding-bottom: 1%;
}

.step {
  margin-left: 30%;
  margin-top: 4%;
  margin-right: 30%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 0%;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
}

.tutorial-button,
.start-button {
  text-align: center !important;
  padding-top: 5%;
}

.tutorial-step {
  text-align: center;
  padding: 4%;
}

.tutorial-image {
  width: 75%;
  height: 75%;
  border-radius: 2%;
  border-style: solid;
  border-color: rgb(21, 51, 52);
}

.banner {
  font-size: 150%;
  color: #ffffff;
  padding: 1%;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(55, 110, 111, 1) 0%,
    rgba(74, 145, 146, 1) 36%
  );
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
  background-color: #8064a2;
  border-color: #8064a2;
}

.modal.left {
  margin: 2%;
  width: 25%;
  transform: translateX(0%);
}

.modal.right {
  margin: 2%;
  margin-left: 70%;
  width: 25%;
  transform: translateX(0%);
}
