/* Style sheet for liftknockoff (Assignment 2) */
html {
	height: 100%;
}

body {
    font-family: "Courier";
    background-color: AliceBlue;
    color: FireBrick;
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 4vh;
    width: 100%;
    height: 10%;
}

#map {
	width: 100%;
	height: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
}
